//reset
* {
  box-sizing: border-box;
  out-line: none;
}

html{
  font-size:13px;
}

body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background-color: #f7f7f7;
}

a{
  color: #7D8FE8;
}
